.redes {
  width: 100%;
  min-height: 8.75rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.31rem;
  font-size: 1.2rem;
  color: #000;
  transition: .5s;
  padding: 0.31rem;
  border-bottom: .125rem solid transparent;
}
.redes a:hover {
  color: #a800a8;
  /* text-decoration: underline; */
  border-color: #a800a8;
}